body {
	margin:0;
}
#rc_title {
	display:inline-block;
	position:relative;
	top:11px;left:2em;
	font-size:220%;
}
#rc_header {
	min-height:4em;
	background-color:steelblue;
}
#rc_header a, #rc_header a:visited {
	color:white;
	text-decoration:none;
}