{% load i18n instant rechat %}

<style>
#chatbox {
	height:36em;
	max-height:36em;
	width:100%;
	text-align:left;
	padding:1em;
	overflow:auto;
}
#chatform {
	margin-top:1em;
	text-align:left;
}
#id_message {
	font-family: sans-serif;
	min-height:2.8em;
}
</style>

<div id="chatbox"></div>
<form id="chatform" class="form-horizontal">{% csrf_token %}
	<div class="input-group">
		{% for field in form %}
		    {{ field }}
		{% endfor %}
		 <span class="input-group-btn">
			<input type="submit" class="btn btn-primary" value="{% trans 'Send' %}" />
		</span>
	</div>
</form>

<script type="text/javascript">
{% if cache_history %}
function init_chatbox() {
	html = '{% get_cache_history cache_history %}';
	$('#chatbox').html(html);
	$('#chatbox').scrollTop($("#chatbox")[0].scrollHeight);
}
init_chatbox();
{% endif %}
function create_post() {
	var token = $('#chatform').children('input').first().attr('value');
    $.ajax({
        url : "chat/",
        type : "POST",
        data : { "message" : $('#id_message').val(), "csrfmiddlewaretoken" : token },
        success : function(json) {
            $('#id_message').val('');
        },
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });
};
$('#chatform').on('submit', function(event){
    event.preventDefault();
    create_post();
});

</script>